<div class="jumbotron">
  <div class='container login-header'>
    <div class='row'>
      <div class="intro col-sm-9">
        <h1>Welcome to Guten</h1>
        <h4>Upload your thoughts and pictures</h4>
        <h4>Then download everyone else's</h4>
      </div>
      <div class="guten col-sm-3">
        <img src="img/guten.jpg" class="guten-img">
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <form>
      <h3>Log or Register Here</h3>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          class="form-control"
          type="email"
          name="email"
          ng-model="userEmail"
          placeholder="You@Stuff.com">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          class="form-control"
          type="password"
          name="password"
          ng-model="userPassword"
          placeholder="************">
      </div>
      <!-- <div class="form-group">
        <label for="username">Add a unique username (if registering):</label>
        <input
          class="form-control"
          type="text"
          name="username"
          ng-model="username"
          placeholder="Type username/handle here">
      </div> -->
      <div>
        <button class="btn login" type="button" ng-click="auth.loginUser(userEmail, userPassword)">Log In</button>
        <button class="btn register" type="button" ng-click="auth.registerUser(userEmail, userPassword, username)">Register</button>
      </div>
    </form>
  </div>  <!-- Row  -->
</div> <!-- Container  -->