<!-- Modal for creating new posts -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Post</h4>
      </div>
      <div class="modal-body">
        <form>
          <h3>{{main.currentUserName}}</h3>
          <!-- <input type="text" ng-model="main.message" placeholder="New Message" class="input-field"> -->
          <textarea class="form-control" rows="4" ng-model="main.message" placeholder="New Message"></textarea>
          <input type="file" accept="image/*" />
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
            <button ng-click="main.submit()" class="btn" data-dismiss="modal">Submit Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class='nav container'>
  <div clas="row">
    <div class="guten col-sm-9">
      <img src="img/guten.jpg" class="guten-img">
    </div>

    <div class='col-sm-3 buttons'>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-lg nav-button" ng-click="main.add()" data-toggle="modal" data-target="#myModal">
        Add New Post
      </button>

      <!-- Logout Button -->
      <button type="button" class="btn btn-lg nav-button" ng-controller="AuthCtrl as auth" ng-click="auth.logoutUser()">
        Logout
      </button>

      <h3>Logged in as {{main.currentUserName}}</h3>

    </div>
  </div>
</div>

<div class="container content-background">
  <div class="col-sm-2 filler">
  </div>

  <div class="foreground col-sm-8">

    <h1>{{main.heading}}</h1>

    <div class="row">
      <div ng-repeat="(id, posts) in main.data" class="col-sm-12 content">
        <div class='content-style'>
          <div><h3><a href="#/userProfile/{{posts.users}}">{{posts.handle}}</a></h3></div>
          <div><img ng-src="{{posts.images.url}}" class="pics"></div>
          <div>{{posts.message}}</div>
          <div>{{posts.timestamp}}</div>
          <div class='row'>
            <p>
              <button type="click" ng-click="main.edit(id, posts)" data-toggle="modal" data-target="#myModal" ng-hide="!(main.currentAuth.uid === posts.users)" ng-class="!(main.currentAuth.uid === posts.users) ? 'disabled' : ''" class='eD-buttons'>Edit</button>

              <button type="click" ng-click="main.delete(id)" ng-hide="!(main.currentAuth.uid === posts.users)" ng-class="!(main.currentAuth.uid === posts.users) ? 'disabled' : ''" class='eD-buttons'>Delete</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 filler">
  </div>
</div>













